@font-face {
  font-family: 'Bookman Old Style';
  font-style: normal;
  font-weight: normal;
  src: local('Bookman Old Style'), url('../fonts/BookmanOldStyle.woff2') format('woff2');
}

@font-face {
  font-family: 'Lucida Console';
  font-style: normal;
  font-weight: normal;
  src: local('Lucida Console'), url('../fonts/LucidaConsole.woff2') format('woff2');
}

@font-face {
  font-family: 'PT Serif';
  font-style: normal;
  font-weight: 700;
  src: local('PT Serif Bold'), url('../fonts/PTSerifBold.woff2') format('woff2');
}

@font-face {
  font-family: 'Lora';
  font-style: normal;
  font-weight: 700;
  src: local('Lora Bold'), url('../fonts/LoraBold.woff2') format('woff2');
}

@font-face {
  font-family: 'Dobrozrachniy';
  font-style: normal;
  font-weight: normal;
  src: local('Dobrozrachniy'), local('Dobrozrachniy Regular'), url('../fonts/Dobrozrachniy.woff2') format('woff2');
}