@font-face {
  font-family: 'Bookman Old Style';
  font-style: normal;
  font-weight: normal;
  src: local('Bookman Old Style'), url('../fonts/BookmanOldStyle.woff2') format('woff2');
}

@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: normal;
  src: local('Fira Sans'), url('../fonts/FiraSans.woff2') format('woff2');
}

@font-face {
  font-family: 'PT Serif';
  font-style: normal;
  font-weight: 700;
  src: local('PT Serif Bold'), url('../fonts/PTSerifBold.woff2') format('woff2');
}

@font-face {
  font-family: 'Courier New';
  font-style: normal;
  font-weight: 700;
  src: local('Courier New Bold'), url('../fonts/CourierNewBold.woff2') format('woff2');
}