@import 'fonts'
@import 'mq'
@import 'functions'
@import 'keyframes'

// base.styl подключается только в том случае, когда спецпроект расположен на отдельной странице
// @import 'base'

$colors = {
    white: #ffffff,
    black: #000000
}
.Canon
    position relative
    min-height 540px
    padding 40px 20px 50px
    font-family 'Roboto', Tahoma
    font-weight 400
    text-size-adjust 100%
    background-color #000
    overflow hidden
    
    &::after
        content ''
        position absolute
        bottom 0
        left 0
        right 0
        width 100%
        height 90px
        background-image url('images/bg.jpg')
        background-size 104px 94px

    &-wrapper
        width 1060px
        max-width 100%
        min-height 100vh
        margin 0 auto
        
    &__qa
        position relative
        z-index 1
        width 580px
        max-width 100%
        margin 0 auto
    
    &__logo
        display block
        margin 0 auto
        
    &__desc
        width 380px
        max-width 100%
        margin 17px auto 0
        color #fff
        font-size 16px
        font-weight 700
        line-height 26px
        text-align center
        
        &--kern
            width 480px
    
    &__pages
        display flex
        justify-content center
        align-items center
        margin-top 10px
        
        & div
            width 10px
            height 10px
            border-radius 100%
            border 2px solid  #666
            
            &:not(:last-child)
                margin-right 5px
            
            &.is-filled
                background-color #666
    
    &__options
        // display flex
        // align-items flex-start
        margin-top 25px
        
        @media $mq.not_mobile
            display flex
    
    &__option
        display flex
        flex-direction column
        justify-content center
        width 100%
        min-height 270px
        padding 10px 20px 10px 29px
        color #fff
        border-radius 10px
        border 1px solid  #333
        background-color #000
        user-select none
        cursor pointer

        &.is-correct
            color #00BE35
            border-color #00BE35
            opacity 1
            
            &:hover
                opacity 1
        
        &.is-incorrect
            color #FF4F4F
            border-color #FF4F4F
            opacity 1
            
            &:hover
                opacity 1
            
        @media $mq.not_mobile
            width calc(50% - 30px)
            transition opacity .2s

            &:hover
                opacity .6
            
            &:first-child
                margin-right 60px
    
    &__option-sep
        margin 20px 0
        color #fff
        font-size 14px
        text-align center
        
        @media $mq.not_mobile
            display none
    
    &__option-title
        margin-bottom 10px
        font-size 18px
        font-weight 700
        
    &__option-text
        font-size 14px
    
    &__result
        margin-top 42px
        text-align center
    
    &__score
        color #FABF46
        font-size 72px
        font-weight 700
    
    &__score-text
        margin-top 23px
        color #999
        font-size 18px
        
    &__restart-btn
        position relative
        z-index 1
        display inline-block
        margin-top 52px
        padding-right 24px
        color #fff
        font-size 18px
        cursor pointer
        opacity .2
        transition opacity .2s
        
        & span
            display block
            line-height 1
        
        & svg
            position absolute
            top 1px
            right 0
            fill currentColor
        
        &:hover
            opacity .8
            
    &__string
        margin-top 20px

    &-str
        position relative

        & span
            position absolute
            left 0
            right 0
            width 500px
            max-width 100%
            height 1px
            margin 0 auto
            background-color #333
                
        &::before
        &::after
            content ''
            position absolute
            left 0
            right 0
            width 500px
            max-width 100%
            height 2px
            margin 0 auto
            background-color #333
            
        &--1
            
            & span
                display none
            
            &::before
                top -2px
            
            &::after
                bottom -2px
        
        &--2
            
            & span
                top 18px
            
            &::before
                top 2px
            
            &::after
                bottom 13px
                
            @media $mq.not_mobile
                & span
                    top 29px
                
                &::before
                    top 5px
                
                &::after
                    bottom 22px
        
        &--3
            
            & span
                top 12px
            
            &::before
                top 2px
            
            &::after
                bottom 12px
                
            @media $mq.not_mobile
                & span
                    top 21px
                
                &::after
                    bottom 22px
        
        &__sample
            position absolute
            z-index 1
            top 0
            left 0
            right 0
            width 100%
            height 100%
            color #EC3163
            
            & svg
                width 100%
                height 100%
                fill currentColor
        
        &__letters
            position relative
            z-index 2
            max-width 100%
            margin 0 auto
            color #fff
            user-select none
            
            &::before
            &::after
                content ''
                position absolute
                bottom 101%
                bottom calc(100% + 8px)
                width 12px
                height 15px
                background-image url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABcAAAAeCAYAAADHJYVoAAAACXBIWXMAABYlAAAWJQFJUiTwAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAGiSURBVHgB1VbtccIwDFVCBmAEb1AKDBA2YIPCBKUTACMwQWECukHT/8B5hIzAAiR9ImlO8eVDXMlxvDsnZ0V6kWVZskcNGABBELylaRpiajD6GGcMC9nudDptm+y9GtK+7/tLz/MW1IwYOvPD4RCpyJkY3n7DswHpMTsejztX6LuCXq+3ryG2GBG+nSu+bcfjcegKS54Ph8MZlvnp6Gwul8vKWnuWenhx2IzQi6H3KvVKnkN56czXWO5CGjB4I5MkmWAVsRAb7NNU6hXkiHVIWUZcwYbYqBXVAD+MQTZ3nKkmh6Ib5w21IM8SuaqXSnLKcpjEzyzpIPVMHfnd0Sm5NxqN9pSFxJBYFjbH1uS0iwGVQxrxg8tDgPe0yuLGEyoR5u+f543548n5tGLMsckTTHekRKBR4jrCxz2fRsgwzqL3NjuN55EgLmSkgIbcuAKEqK+w05GjfhftDtXTuKX5P+R8WkMx/TvN9yF3mkJMSmjzvKgxeVfS1Jzbyfl2oLS5VsWUOgBCuX7u2hJRB+Bm4+Miw9cDbTNuBXcvEH/gvvP1C5Jzpf6KeOFbAAAAAElFTkSuQmCC')
                background-size cover
            
            & svg
                position relative
                z-index 1
                width 100%
                height 100%
                fill currentColor
                overflow visible
                
                & path.is-dragged
                    position relative
                    z-index 1
                    fill #EC3163
                
                & path:not(:first-child):not(:last-child)
                    cursor move

            &--1
                width 281px
                height 65px
                
                &::before
                    left 16px
                
                &::after
                    right 25px

                @media $mq.not_mobile
                    width 372px
                    height 86px
                    
                    &::before
                        left 21px
                    
                    &::after
                        right 35px
            
            &--2
                width 280px
                height 60px
                
                &::before
                    left 15px
                
                &::after
                    right 12px
                
                @media $mq.not_mobile
                    width 500px
                    height 106px
                    
                    &::before
                        left 31px
                    
                    &::after
                        right 27px
            
            &--3
                width 280px
                height 57px
                
                &::before
                    left 13px
                
                &::after
                    right 15px
                
                @media $mq.not_mobile
                    width 502px
                    height 101px
                    
                    &::before
                        left 27px
                    
                    &::after
                        right 32px
    
    &__notice
        position relative
        z-index 1
        width 455px
        max-width 100%
        margin 12px auto 0
        color #4C4C4C
        font-size 14px
        line-height 1.2em
        text-align center
        
        @media $mq.not_mobile
            position absolute
            bottom 140px
            left 0
            right 0
            margin 0 auto
            font-size 16px
            line-height 26px
        
    &__compare
        position absolute
        z-index 1
        bottom 150px
        left 0
        right 0
        color #EC3163
        font-size 36px
        font-weight 700
        text-align center
        
        @media $mq.not_mobile
            bottom 170px
        
    &__next-btn
        position absolute
        z-index 1
        bottom 50px
        left 0
        right 0
        width 250px
        max-width 100%
        height 60px
        margin 0 auto
        color #fff
        font-size 18px
        border none
        border-radius 5px
        background-color #EC3163
        cursor pointer
        outline none
        
        @media (hover), (min-width:0\0), (min--moz-device-pixel-ratio:0)
            transition background-color .2s

            &:hover
                color #EC3163
                background-color #fff











